{# empty Twig template #}
{% extends "ProjectBundle:Default:template.html.twig" %}

{% block content %}
    <h1>Nom du projet: {{ projet.titre | capitalize }}</h1>
    <hr>
    <h2>
        Description
    </h2><hr/>
    <span>projet.intitule</span>
    
{% endblock %}