{# empty Twig template #}
<form action="/_auth" method="post">
    
    <label>Login</label>: <input type="text" name="login" /><br/>
    <label>Mot de passe</label>: <input type="password" name="pass" /><br/>
    <input type="submit" value="Connexion" />
</form>