{% extends "ProjectBundle:Default:template.html.twig" %}

{% block content %}
    <h1>Ajout d'un utilisateur</h1>
    <div class="row">
        <div class="col-lg-9" >
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
